.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.header .logo {
    padding-left: 10px;
    max-height: 40px;
}

.header .title-group {
    padding-left: 25px;
}

.header .i {
    padding-right: 10px;
}
